.overall{
    right: 0%;
    left: 0%;
    top: 0%;
    padding: 0;
    margin:0;
}
.links{
    flex: 1;
    text-align: center;
    color: white;
}
.links ul li{
    
    list-style: none;
    display: inline-block;
    padding: 0% 12px;
    position: relative;
    border-color: white;
    border-right: 2px solid;
}
.overall{
    padding: 0% 0% 0% 0%;
    margin: 0%;
}
.midimages{
    padding: 5% 0% 0% 7%;
}
.activities{
    padding: 0% 0% 0% 40%;
}

.images-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0% 10%;
}
.lastofpage{
    margin-top: 7%;
    padding: 0% 0% 0% 3%;
    background-color:rgb(145, 143, 143);
    border-style: solid;
    border-color: rgb(153, 145, 160);
}
.contact{
    text-align: center;
    position: relative;
}
u{
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 10px;
    text-decoration-thickness: 3.1px;
    text-decoration-color: red;
}

.logo{
      display: grid;
      grid-template-columns: 1fr 0.3fr 1.8fr 0.1fr;
}
.logo ul li{
      list-style: none;
      justify-content: space-between;
}
.logolinks{
    position: relative;
    left: 35%;
    
}
.address{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.res-circle {
    width: 80%;
    border-radius: 50%;
    background: #c5d1e4;
    border-style: solid;
    border-color: rgb(91, 91, 95);
    line-height: 0;
    position: relative;
  }
  .res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
   
  .circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
  }
  .avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .avatars {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .profile-text{
      padding: 0% 0% 0% 10%;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .heads{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  }
  .heads5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
  .names{
      padding-top: 30%;
      padding-right:20%;
      font-family: 'Oswald', sans-serif;
  }
  .heads3{
      padding: 5% 20% 0% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .heads2{
    padding: 5% 30% 0% 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pic-text{
    padding-top: 15%;
    font-family: 'Oswald', sans-serif;
}
.wrapper{
    padding: 10%;
}
.main{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.c1{
    display: flex;
    justify-items:baseline ;
}
.aboutcsi{
    font-size: 150%;
    margin: 5% 5%;
}
.aboutcsi p{
    font-size: 100%;
}
